<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">PrecioVenta</th>
                        <th scope="col">Stock</th>
                        <th scope="col">categoriaNombre</th>
                        <th scope="col">CategoriaDescripcion</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producto of productoArray; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.precioVenta}}</td>
                        <td>{{producto.stock}}</td>
                        <td>{{producto.categoriaNombre}}</td>
                        <td>{{producto.categoriaDescripcion}}</td>
                      </tr>
                    </tbody>
                  </table>
            </table>
          </div>
        
    </div>
  </div>
